html,
body {
    height: 100%;
}

#wrap {
    min-height: 80%;
    align-items: center;
    background-color: #F2F2F2;
}

#main {
    overflow: auto;
    /* this needs to be bigger than footer height*/
}



.container .row .body-content {
    background-color: white;
    margin: 5rem;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 1rem;
    -webkit-box-shadow: 6px 6px 31px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 31px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 31px -8px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #393939;
    background-size: contain;
    margin-bottom: 5px;
}

.nav-link {
    font-size: 14px;
    color: white;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 2px;
    border-radius: 5px;
}

.navbar .navbar-nav {
    margin-left: auto;
}

.footer-section {

    position: relative;
    /* negative value of footer height */
    clear: both;
    padding-top: 20px;
    background-color: #393939;
    padding-top: 20px;

}

.footer-section .container {
    font-size: 12px;
}

.footer-section .copyright-option {
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-section .copyright-option .row .d-inline {
    padding-left: 10px;
    padding-right: 10px;
}
